In [1]:
import pandas

In [7]:
ds = pandas.read_csv('Salary_Data.csv')

In [8]:
ds

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [9]:
ds.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [10]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [11]:
x = ds['YearsExperience'].values.reshape(30,1)#converted into 2D array

In [12]:
type(x)

numpy.ndarray

In [13]:
x.shape

(30, 1)

In [18]:
y = ds['Salary']

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
model = LinearRegression()

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
# shift + tab
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [23]:
X_train.shape

(24, 1)

In [24]:
X_test.shape

(6, 1)

In [26]:
y_train

28    122391.0
24    109431.0
12     56957.0
0      39343.0
4      39891.0
16     66029.0
5      56642.0
13     57081.0
11     55794.0
22    101302.0
1      46205.0
2      37731.0
25    105582.0
3      43525.0
21     98273.0
26    116969.0
18     81363.0
29    121872.0
20     91738.0
7      54445.0
10     63218.0
14     61111.0
19     93940.0
6      60150.0
Name: Salary, dtype: float64

In [25]:
# algo 
model.fit(X_train , y_train)

LinearRegression()

In [ ]:
model.coef_

In [ ]:
X_test

In [ ]:
y_test

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

In [ ]:
y_test

In [ ]:
112635/115790 * 100

In [ ]:
# y = c +  wx
# 9449 * 1.1
model.predict([[ 1.1 ]] )

In [ ]:
36187/39343 * 100

In [ ]:
9449 * 1.1

In [ ]:
c = model.intercept_

In [ ]:
c

In [ ]:
25792 + 9449 * 1.1

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set()

In [ ]:
plt.scatter(X_train, y_train)

In [ ]:
plt.scatter(X_test , y_test, color='red')
plt.plot(X_test , y_pred)
plt.xlabel("exp")
plt.ylabel("salary")
plt.title("exp vs salary pred")

In [ ]:
from sklearn import metrics

In [ ]:
metrics.mean_absolute_error(y_test , y_pred )