In [1]:
print("basics")

basics

In [2]:
#assigning a value
x = 8

In [3]:
print(x)

8

In [4]:
#to print a string
print("8")

8

In [5]:
#to print a no.
print(8)

8

In [6]:
to check the type of x
type(x)

SyntaxError: invalid syntax (<ipython-input-6-1e0b2ba481c4>, line 1)

In [ ]:
print("to retrieve data row wise")

In [ ]:
#assigning value to db(variable)
# SNo.  NAME  ID  PERFORMANCE
# 1   anjali 1111   good
# 2   rahul  2222    ok
# 3   rohit  3333   vgood
# 4   ajay   4444    ok
db=[[1,"anjali",1111,"good"],
   [2,"rahul",2222,"ok"],
    [3,"rohit",3333,"vgood"],
    [4,"ajay",4444,"ok"],
   ]

In [ ]:
type(db)

In [ ]:
#1st pointer is at 0 place, it gives the 1st row
db[0]

In [ ]:
db[1]

In [ ]:
db[2]

In [ ]:
db[3]

In [ ]:
#append is use to add
db.append(1111)

In [ ]:
db[:]

In [ ]:
#it will provide 1st row and 2nd column element
db[0][1]

In [ ]:
db[2][1]

In [ ]:
#db is a list so no shape, to find shape we have to convert it into an array
db.shape

In [ ]:
#to have the whole range(:)
db[:]

In [ ]:
#exclude the 2,it will only take 0 and 1 value
db[0:2]

In [ ]:
#exclude the 3,it will only take 0,1,2
db[0:3]

In [ ]:
print("to retrieve the column data(NESTED LIST)")

In [ ]:
#numpy is a library
import numpy

In [ ]:
#a is a variable who has assign a value ,in numpy lib array function is imposed on db(database/table)
a = numpy.array(db)

In [ ]:
#array is a type of function which deal with individual row as well as column
type(a)

In [ ]:
#a is an array so now we can have the shape of a
a.shape

In [ ]:
#if we want all names(column).a comma will define weather we want a row or column
a[:,1]

In [ ]:
# :means selecting a range 0 to 1, but 1 will not be counted so o/p only the 0 row
a[:1]

In [ ]:
#we only want 2nd row
a[1]

In [ ]:
a[:,2]

In [ ]:
#if we want id of only last 2
a[2:,2]

In [ ]:
print("new variable and new array")

In [ ]:
a1 = numpy.array([1,2,3,4,5,6,7,8])

In [ ]:
type(a1)

In [ ]:
a1.shape

In [ ]:
#first it is reshaped and then we want its shape, shape and reshape are functions of numpy
a1.reshape(4,2).shape

In [ ]:
print("linear regression")

In [7]:
import pandas

In [8]:
db = pandas.read_csv("C:/Users/tsgur/Documents/marks.csv")

In [9]:
db

     NAME  HRS  MARKS
0  Anjali    7     70
1   Rahul    5     50
2   Rohit    8     80
3    Ajay    2     20

In [10]:
type(db)

pandas.core.frame.DataFrame

In [31]:
from sklearn.model_selection import train_test_split

In [40]:
y = db["MARKS"]

In [41]:
z = db["HRS"]

In [42]:
z_train, z_test, y_train, y_test = train_test_split(z,y,test_size=0.20,random_state=42)

In [43]:
type(z)

pandas.core.series.Series

In [58]:
z = db["HRS"].values.reshape(-1,1)

In [52]:
y_train

3    20
0    70
2    80
Name: MARKS, dtype: int64

In [59]:
type(z)

numpy.ndarray

In [60]:
from sklearn.linear_model import LinearRegression

In [56]:
mind = LinearRegression()

In [61]:
mind.fit(z_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [4, 3]

In [20]:
mind.coef_

array([10.])

In [21]:
mind.predict([[6]])

array([60.])

In [22]:
print("To save the program")

To save the program

In [23]:
import joblib

In [24]:
joblib.dump(mind, "marks.pk1")

['marks.pk1']

In [25]:
print("to load the file")

to load the file

In [26]:
import joblib

In [27]:
mind = joblib.load("marks.pk1")

In [28]:
mind.predict([[5]])

array([50.])

In [29]:
mind.coef_

array([10.])